<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceFolder" value="Your Source Folder path" />
		<add key="DestinationFolder" value="Your Destination folder path" />
	</appSettings>
	<connectionStrings>
		<add name="FileMoveHistoryDB" connectionString="Data Source=Your Server Name;Initial Catalog=Your Database name;Integrated Security=True" />
	</connectionStrings>
</configuration>